<section class="flex flex-col sm:flex-row sm:space-x-2 space-y-2 sm:space-y-0">
    <div class="flex">
        <button class="bg-white rounded-full">
            <div class="py-2 px-4 flex items-center space-x-2">
                <img src="assets/availability/green.svg" alt="grøn">
                <h1 class="font-semibold">Ledig</h1>
            </div>
        </button>
    </div>

    <div class="flex">
        <button class="bg-white rounded-full">
            <div class="py-2 px-4 flex items-center space-x-2">
                <img src="assets/availability/red.svg" alt="rød">
                <h1 class="font-semibold">Optaget</h1>
            </div>
        </button>
    </div>

    <div class="flex">
        <button class="bg-white rounded-full">
            <div class="py-2 px-4 flex items-center space-x-2">
                <img src="assets/availability/gray.svg" alt="grå">
                <h1 class="font-semibold">Utilgængelig</h1>
            </div>
        </button>
    </div>
</section>